appstoreconnect==0.9.1
pymsteams==0.1.15
firebase_admin==5.0.3
requests==2.23.0
play-scraper
google_api_python_client==2.24.0
Pillow==8.3.2
protobuf==3.18.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud